
html {font-size: 62.5%;
		box-sizing: border-box;
		}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-size: 16px;
    font-size: 1.6rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../img/ocean-club.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} /* = 16px */

.row {
    max-width: 1260px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

header, main, footer {}

/*  Typograhical Scales  */
h1 {  }
h2 {  }
h3 {
    font-size: 5rem;
    padding-top: 4rem;
    text-align: center;
}

/* Grids three column */
/*[class*='col-'] {*/
/*    float: left;*/
/*    display: block;*/
/*    margin: 0 4.255% 4.255% 0;*/
/*    padding: 4.255%;*/
/*}*/

/*.col-3-3{width: 100%;}*/
/*.col-2-3 {width: 65.2482%;}*/
/*.col-1-3 {width: 30.4964%;}*/

/*[class*='col']:last-of-type { margin-right: 0; }*/
/*.gridfix {margin-right: 0;}*/

header{
    height: 720px;

}

header h1, h3 {
    margin: 0 auto;
    width: 848px;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 85px;
    color: white;
}

header h3 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#parent {
    padding: 8% 0;
}
#child {
    padding: 10% 0;
}

main > section {
    height: 500px;
}

main > section:nth-of-type(odd) {
    background: white;
    color: #183840;
}
nav{
    position: absolute;
}

nav ul {
    position: relative;
}

nav ul li {
    top: 10px;
    right: 10px;
    Display: inline-block;
    color: white;
}

section {

}
.registration--main_form h3, .registration--main_form label{
    color: white;
}

footer{}

.form--inputs input {
    width: 375px;
    height: 30px;
    border-radius: 5px;
}

a:link a:visited { color: #999999; }
a:hover a:active { color: #000000; }
