*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}



body {
    font-size: 16px;
    font-size: 1.6rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../img/ocean-club.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

} /* = 16px */

.pgrow {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

header, main, footer {}

/*  Typograhical Scales  */
h
{  }
h2 {  }
h3 {
    font-size: 5rem;
    padding-top: 4rem;
    text-align: center;
}

h2:after, h3:after {
    display: block;
    height: 2px;
    background-color: #217dbb;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

/*---------------------------------------------*/
/*HEADER*/
/*---------------------------------------------*/

header {
    height: 100vh;
}

header h1, h3 {
    margin: 0 auto;
    width: 848px;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 85px;
    color: white;
}

header h3 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/*Responsible for centering welcome text*/
.heading-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    /*Sets height of logo*/
    height: 80px;
    /*Width should be determined automatically*/
    width: auto;
    /*image to be floated to the left*/
    float: left;
    /*add space between the top of page and logo*/
    margin-top: 10px;
}

/*---------------------------------------------*/
/*NAVIGATION*/
/*---------------------------------------------*/

/*nav ul li {*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    Display: inline-block;*/
/*    color: white;*/
/*}*/

.head-nav {
    top: 10px;
    right: 10px;
    Display: inline-block;
    color: white;
    /*Navigation unordered list should be floated to the right*/
    float: right;
    /*Get rid of bullet points*/
    list-style: none;
    /*Add space between top of page an menu*/
    margin-top: 40px;
}

/*Select all li inside ul list in main-nav class*/
.head-nav li {
    /*change display style to inline block*/
    display: inline-block;
    margin-left: 40px;
}

/*Select all anchor elements with li as parent*/
/*Adding link and visited pseudo code will give effects when hovering over menu*/
.head-nav li a:link,
.head-nav li a:visited
{
    padding: 8px 0;
    /*text to white*/
    color: #fff;
    /*remove underlines from menu items*/
    text-decoration: none;
    /*change text to upper case*/
    text-transform: uppercase;
    /*this will be 90% of base font in HTML selector, which would be 18px to figure out divide 18px by 20px to get .90 or 90%*/
    font-size: 90%;
    /*This will create the border but since you don't want to see it before the element is hovered over this needs to be made*/
    /*transparent*/
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.head-nav li a:hover,
.head-nav li a:active,
.head-nav li button:hover,
.head-nav li button:active {
    /*This will add the solid border when an element is hovered over*/
    border-bottom: 2px solid  #0099cc;
}

.loginlnk {
    background:none;
    color:inherit;
    border:none;
    text-transform: uppercase;
    padding-bottom: 8px;

}

.dropdown-menu.p-4.show {
    width: 200px;
}

/*Sticky nav*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: rgba(255, 255, 255, 0.30);
    z-index: 9999;
}

.sticky .head-nav {
    margin: 25px 0 0 0;
}

.sticky .head-nav li a:link,
.sticky .head-nav li a:visited,
.head-nav li button:link,
.head-nav li button:visited {
     padding: 8px 0;
     color: #555;
 }

/*---------------------------------------------*/
/*MAIN*/
/*---------------------------------------------*/

main > section {
    height: 500px;
}

main > section:nth-of-type(odd) {
    background: white;
    color: #183840;
}

/*---------------------------------------------*/
/*REGISTRATION*/
/*---------------------------------------------*/

.registration--main_form h3,
.registration--main_form label,
.registration--main_form p
{
    color: white;
}

#form {
    padding-top: 10px;
}

/*.form--inputs label {*/
/*    display: block;*/
/*    height: 30px;*/
/*}*/

.form--inputs input {
    width: 220px;
    line-height: 30px;
    border-radius: 5px;
    float: right;
}

.form--inputs li {
    padding: 15px;
    clear: both;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 2rem 5rem;
    background-color: #ffffff;
    border:1px solid #000000;
    color:#000000;
    font-size:1.6rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;

}

/*---------------------------------------------*/
/*CONTACT*/
/*---------------------------------------------*/

.contact {

    padding-top: 40px;
    text-align: center;
}
footer{}

/*a:link a:visited { color: #999999; }*/
/*a:hover a:active { color: #000000; }*/

/*---------------------------------------------*/
/*CONTACT*/
/*---------------------------------------------*/

.back-to-top {
    background-color: #50A1CB; /* button color */
    color: white; /* text/arrow color */
    display: none;
    z-index: 999;
    /* float in bottom right corner */
    /* 20 pixels from edge */
    position: fixed;
    right: 20px;
    bottom: 20px;
    /* size of button is 50 pixels*/
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* round button */
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
a.back-to-top {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 4px;
}

#arrow {
    padding-top: 3px;
}

